<footer class="footer">
	<div class="container is-size-7 has-text-centered">
		<ul class="is-inline-list">
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/shop/">Shop</a></li>
		</ul>
		<ul class="is-inline-list">
			{{#each games}}
				<li><a href="/{{ path }}">{{ title }}</a></li>
			{{/each}}
		</ul>
		<figure class="image">
			<img src="/media/img/we-evolve-transparent.png" alt="we evolve" />
		</figure>
		<p>&copy; Copyright 2009&ndash;2020 we evolve</p>
		<ul class="is-inline-list">
			<li><a href="https://www.drivethrurpg.com/browse/pub/14996/we-evolve">DriveThruRPG</a></li>
			<li><a href="https://we-evolve.itch.io/">itch.io</a></li>
		</ul>
	</div>
</footer>

<script>
document.getElementById("navbar-activator").addEventListener("click", function() {
	document.getElementById("menu-main").classList.toggle("is-active");
});
</script>

</body>
</html>