
{{> header.hbs }}

{{#if banner}}
	{{> banner.hbs link=false }}
{{/if}}

{{> content.hbs }}

{{#if available}}
	<section class="section">
		<div class="container">
			<h3 class="title is-size-4">Related Products</h3>
			<div class="shop">
				{{#each product as |item|}}
					{{#contains collection ../tag}}
						{{> product.hbs item}}
					{{/contains}}
				{{/each}}
			</div>
		</div>
	</section>
{{/if}}

{{> footer.hbs }}