
{{> header.hbs }}

{{> content.hbs }}

<section class="section">
	<div class="container">
		<div class="shop">
			{{#each product}}
				{{> product.hbs }}
			{{/each}}
		</div>
	</div>
</section>

{{> footer.hbs }}
